#root {
  height: 100vh;
  width: 100vw;
}

#map {
  height: 90%;
  width: 100%;
  margin: auto;
}
.mainContent {
  min-height: 80%;
  display: flex;
  flex-direction: row;
  > div {
    flex: 1;
  }
}

.App {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  letter-spacing: 2px;
  height: 100%;
  width: 100%;
}

.FlightView {
  width: 50%;
  border-width: 0px;
  padding: 0vw;
  margin: 0px;
  float: left;
  background-color: #fff2e6;

}

.RouteOverview {
  font-size: 1.5em;
}

.RouteOverview span {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

.UserFrame {
  width: 50%;
  border-width: 0px;
  padding: 0vw;
  margin: 0px;
  float: right;
  background-color: #ffe5e5;


}

.viewheader {
  margin: 5px;
  background-color: #80ff80;
  width: 98%;
  box-shadow: 2px 2px 5px #aaaaaa;


}

.userheader {
  margin: 5px;
  background-color: lightblue;
  width: 98%;
  box-shadow: 2px 2px 5px #aaaaaa;

}
.App-logo {
  animation: fly infinite 20s linear;
  height: 80px;
  position: absolute;
  opacity: .2;
}

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 20px;
  margin: 0px 3px 5px 3px;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  box-shadow: 10px 10px 5px #aaaaaa;
  opacity: .94;
}
h2 {
  margin: auto;
  vertical-align: middle;
}

.App-intro {
  font-size: large;
}

@keyframes fly {
  0% { left: -10vw}
  0% { color: yellow }
  100% {left: 110vw;}
}
.brand {
  color: #ff6666;
  font-size: 1.5em;
}

/*input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}*/
input[type="text"] {
  width: 50%;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  font-size: 1.2em;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
/*input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 5px #969696;
}*/
/*input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 5px #969696;
}*/

/*input[type="text"] {
  width: 50%;
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}*/

.myButton {
  -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
  -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background-color:#e4685d;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
  background-color:#eb675e;
}
.myButton:active {
  position:relative;
  top:1px;
}




/*@keyframes App-logo-spin {
    0%   {left: 0px;}
    25%  {left: 200px;}
    75%  {left: 50px}
    100% {left: 100px;}
}*/
