#root {
  height: 100vh;
  width: 100vw;
}

#map {
  height: 90%;
  width: 100%;
  margin: auto;
}
.mainContent {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  > div {
    flex: 1;
  }
}

.App {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  letter-spacing: 2px;
  height: 100%;
  width: 100%;
}

.FlightView {
  width: 50%;
  border-width: 0px;
  padding: 0vw;
  margin: 0px;
  float: left;
  background-color: #fff2e6;

}

.RouteOverview {
  font-size: 1.5em;
}

.RouteOverview span {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

.UserFrame {
  width: 50%;
  border-width: 0px;
  padding: 0vw;
  margin: 0px;
  float: right;
  background-color: #ffe5e5;


}

.viewheader {
  margin: 5px;
  background-color: #80ff80;
  width: 98%;
  box-shadow: 2px 2px 5px #aaaaaa;


}

.userheader {
  margin: 5px;
  background-color: lightblue;
  width: 98%;
  box-shadow: 2px 2px 5px #aaaaaa;

}
.App-logo {
  animation: fly infinite 20s linear;
  height: 80px;
  position: absolute;
  opacity: .2;
}

.App-header {
  background-color: #222;
  height: 10vh;
  padding: 20px;
  margin: 0px 3px 5px 3px;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  box-shadow: 10px 10px 5px #aaaaaa;
  opacity: .94;
}
h2 {
  margin: auto;
  vertical-align: middle;
}

.App-intro {
  font-size: large;
}

@keyframes fly {
  0% { left: -10vw}
  0% { color: yellow }
  100% {left: 110vw;}
}
.brand {
  color: #ff6666;
  font-size: 1.5em;
}




/*@keyframes App-logo-spin {
    0%   {left: 0px;}
    25%  {left: 200px;}
    75%  {left: 50px}
    100% {left: 100px;}
}*/
